/*******LOADER********/

.loader {
  background-color: white;
  opacity: 1;
  height: 100vh;
  inset: 0;
  position: fixed;
  z-index: 10;
  animation: disappear 200ms 3s forwards;
  overflow-y: hidden !important;
  overflow-x: hidden !important;

  &__spinner {
    animation: spin 1s infinite linear;
    animation-delay: 0.5s;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: $secondary;
    border-top-color: $secondary;
    box-sizing: border-box;
    height: 20vmin;
    left: calc(50% - 10vmin);
    position: fixed;
    top: calc(50% - 10vmin);
    width: 20vmin;
    // z-index: 100;

    &:before {
      animation: spin 2s infinite linear;
      animation-delay: 0.5s;
      border: solid 2vmin transparent;
      border-radius: 50%;
      border-right-color: $primary;
      border-top-color: $primary;
      box-sizing: border-box;
      content: "";
      height: 16vmin;
      left: 0;
      position: absolute;
      top: 0;
      width: 16vmin;
    }
    &:after {
      animation: spin 3s infinite linear;
      animation-delay: 0.5s;
      border: solid 2vmin transparent;
      border-radius: 50%;
      border-right-color: $tertiary;
      border-top-color: $tertiary;
      box-sizing: border-box;
      content: "";
      height: 12vmin;
      left: 2vmin;
      position: absolute;
      top: 2vmin;
      width: 12vmin;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    z-index: 10;
  }

  99% {
    opacity: 0;
    z-index: 10;
  }

  100% {
    opacity: 0;
    z-index: 0;
  }
}

/***********VALIDATION BOX************/

@mixin quarter-spin {
  @keyframes quarter-spin {
    0% {
      transform: rotate(-270deg);
    }

    100% {
      transform: rotate() 0;
    }
  }
}

/***************HEARTS*******************/

// .restaurant__block-hearts,
// .menu__header__heart {
//   width: 20px;
//   height: 20px;

//   .heart {
//     position: absolute;
//     font-size: 2rem;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     cursor: pointer;

//     &-full {
//       @include heart-color;
//       opacity: 0;
//       transition: all 0.5s ease-in-out;

//       &:hover {
//         opacity: 1;
//       }
//     }

//     &-empty {
//       color: black;
//     }
//   }
// }

.heart {
  fill: transparent;
  stroke: black;
  stroke-width: 20;
  cursor: pointer;
  position: relative;

  svg {
    overflow: visible;
    width: 1.5rem;
    height: 2rem;
  }

  path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: bottom;
  }

  .heart-full {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
  }

  .heart-empty:hover path {
    animation: filling-animation 2s ease-in-out forwards;
  }
}

@keyframes filling-animation {
  // 0% {
  // }
  // 30% {
  // }
  60% {
    transform: scale(1);
    fill: url(#text-fill);
  }
  80% {
    fill: url(#text-fill);
    stroke: url(#text-fill);
  }
  90% {
    transform: scale(1);
  }
  100% {
    fill: url(#text-fill);
    stroke: url(#text-fill);
  }
}

/*************SLIDE**************/

@keyframes slide-down {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#case-1 {
  animation: slide-down 1s;
}

#case-2 {
  animation: slide-down 2s;
}

#case-3 {
  animation: slide-down 3s;
}
