%header {
  @extend %shadow;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}

%shadow {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

%shadow_hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.555);
}

%btn {
  text-align: center;
  opacity: 1;
  background: $grad_color;
  color: white;
  padding: 14px 20px;
  border-radius: 200px;
  font-size: 18px;
  cursor: pointer;
  min-width: 200px;
  @extend %shadow;

  &:hover {
    @extend %shadow_hover;
    background: $grad_color_lighter;
  }
}
