@import "_variables";

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: $background_color;
}

.loader {
  background-color: white;
  opacity: 0.9;
  height: 100vh;
  inset: 0;
  position: fixed;
  z-index: 10;
  animation: disappear 200ms 3s forwards;
  overflow-y: hidden !important;
  overflow-x: hidden !important;

  &_spinner {
    animation: spin 1s infinite linear;
    animation-delay: 0.5s;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: $secondary;
    border-top-color: $secondary;
    box-sizing: border-box;
    height: 20vmin;
    left: calc(50% - 10vmin);
    position: fixed;
    top: calc(50% - 10vmin);
    width: 20vmin;
    // z-index: 100;

    &:before {
      animation: spin 2s infinite linear;
      animation-delay: 0.5s;
      border: solid 2vmin transparent;
      border-radius: 50%;
      border-right-color: $primary;
      border-top-color: $primary;
      box-sizing: border-box;
      content: "";
      height: 16vmin;
      left: 0;
      position: absolute;
      top: 0;
      width: 16vmin;
    }
    &:after {
      animation: spin 3s infinite linear;
      animation-delay: 0.5s;
      border: solid 2vmin transparent;
      border-radius: 50%;
      border-right-color: $tertiary;
      border-top-color: $tertiary;
      box-sizing: border-box;
      content: "";
      height: 12vmin;
      left: 2vmin;
      position: absolute;
      top: 2vmin;
      width: 12vmin;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes disappear {
  to {
    opacity: 0;
    z-index: 0;
  }
}

header {
  display: block;
  z-index: 10;
  background: white;
  width: 100%;
}

* a {
  text-decoration: none;
  color: white;
}

a {
  cursor: pointer;
}

.header__logo {
  font-family: "Shrikhand", cursive;
  margin: 0;
  color: black;
}

.fa,
.fas {
  font-weight: 900;
}

.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free";
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
